/* Default light theme */
:root {
  --background-color: #f7f7f7;
  --text-color: #000000;
  --primary-color: #ff0062;
  --secondary-color: #0044ff;
  --border-color: #ccc;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #1a1a1a;
    --text-color: #ffffff;
    --primary-color: #ff0062;
    --secondary-color: #0044ff;
    --border-color: #ccc;
  }
}

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

body {
  margin: 0;
}

label,
input,
textarea {
  display: block;
  margin: 0.5rem 0;
}

label {
  font-weight: bold;
}

input,
textarea {
  font: inherit;
  padding: 0.2rem 0.4rem;
  width: 100%;
  max-width: 30rem;
  border: 1px solid var(--border-color);
  background-color: var(
    --background-color
  ); /* Ensure consistent background color */
  color: var(--text-color); /* Ensure consistent text color */
}

input:focus,
textarea:focus {
  outline: none;
  background-color: var(--background-color); /* Maintain background color */
  color: var(--text-color); /* Maintain text color */
}

button {
  font: inherit;
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  cursor: pointer;
  color: white;
  padding: 0.75rem 1rem;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background: #a80041;
  border-color: #a80041;
}

.projects {
  margin: 1rem;
  border: 1px solid var(--primary-color);
}

.projects header {
  background: var(--primary-color);
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#finished-projects {
  border-color: var(--secondary-color);
}

#finished-projects header {
  background: var(--secondary-color);
}

.projects h2 {
  margin: 0;
  color: white;
}

.projects ul {
  list-style: none;
  margin: 0;
  padding: 1rem;
}

.projects li {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.26);
  padding: 1rem;
  margin: 1rem;
}

.projects li h2 {
  color: var(--primary-color);
  margin: 0.5rem 0;
}

#finished-projects li h2 {
  color: var(--secondary-color);
}

.projects li h3 {
  color: #575757;
  font-size: 1rem;
}

.project li p {
  margin: 0;
}

.droppable {
  background: #ffe3ee;
}

#finished-projects .droppable {
  background: #d6e1ff;
}

#user-input {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid var(--primary-color);
  background: var(--background-color);
}
